<% include partials/header %>

<h1>Welcome to the Home Page</h1>
<h2>Yahshua!!!</h2>
<img src="http://3.bp.blogspot.com/-tmA0Pfxw1ww/Tq2SmZmS-FI/AAAAAAAAAFs/WB1yr0ebjT0/s1600/yeshua_talit.jpg"/>

<% include partials/footer %>