<html>
    <head>
       <title>Home for Authentication</title> 
    </head>
    <body>
        <h1>Home for Authentication :)</h1>
        <ul>
            <li><a href="/login">Log in</a></li>
            <li><a href="/logout">Log out</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    </body>
</html>